html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

h1 {
  font-family: 'Domine-Regular';
  font-size: 18px;
  position: 20px, 30px;
}

button {
  font-family: 'Domine-Regular';
  font-size: 12px;
  transition-duration: 0.4s;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid;
	border-color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  
}

button:hover {
  background-color: white;
  color: black;
}